<!-- Body -->
<h2>Avaleht</h2>
<!-- text -->
<!-- pildid -->
<p>
	Vaata veel maale <%= link_to 'SIIT', controller: 'albums' %>
</p>

<!-- näitus -->
<p>
	Veel infot näitustest <%= link_to 'SIIN', controller: 'exhibitions' %>
</p>

<!-- eemaldada -->
<p>
	See koduleht pole hetkel valmis.
</p>

<p>
	Töötav lehekülg: <%= link_to 'Vare Maalid', 'http://varemaalid.webs.com' %>
</p>