<h1>Kontakt</h1>
<p>
	Helista mulle!<br>
	52 00 849
</p>
<p>
	Kirjuta mulle!<br>
	ylle.algma.vare@gmail.com
</p>
<p>
	Külasta mu Facebooki lehte või blogi!<br>
	<%= link_to 'Facebook', 'https://www.facebook.com/ulle.algmavare' %> | 
	<%= link_to 'Blogi', 'http://hetked-maalil.blogspot.com.ee/' %>
</p>
