<h1>Taustainfo</h1>
<!-- tekst Ülle kohta -->
<p>
	<%= @ülleinfo.content %>
</p>
--pilt--
<!-- tekst Raivo kohta -->
<p>
	<%= @raivoinfo.content %>
</p>
--pilt--
<p>
	--veel pilte--
</p>
<!-- veel teksti -->
<p>
	<%= @lisainfo.content %>
</p>